h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    border-style: none;
    background-color: rgb(131, 10, 187);
    padding: 5px;
}